<p-panel header="Pipes Básicos" class="p-1">
  <h1>Pipes Básicos</h1>
  <p>
    Pípes incluídos en Angular - Usualmente en el Common Module
  </p>
</p-panel>

<div class="grid mt-2">
  <div class="col-12 md:col-4">
    <p-card header="lowerCase">
      {{ nameLower | lowercase }}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="upperCase">
      {{ nameLower | uppercase }}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="titleCase">
      {{ nameLower | titlecase }}
    </p-card>
  </div>
</div>
